/*!

 =========================================================
 * Material Dashboard rtl - v1.1
 =========================================================
 *
 * author: Meysam Afsharzade <Meysam2Fan.ir>
 * https://github.com/meysam2fan
 *
 */

@font-face {
    font-family: 'IRANYekan';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/iranyekanwebbold.eot');
    src: url('../fonts/iranyekanwebbold.eot?#iefix') format("embedded-opentype"),
    url('../fonts/iranyekanwebbold.woff') format("woff"),
    url('../fonts/iranyekanwebbold.ttf') format("truetype")
}

@font-face {
    font-family: 'IRANYekan';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/iranyekanwebregular.eot');
    src: url('../fonts/iranyekanwebregular.eot?#iefix') format("embedded-opentype"),
    url('../fonts/iranyekanwebregular.woff') format("woff"),
    url('../fonts/iranyekanwebregular.ttf') format("truetype")
}

@font-face {
    font-family: 'IRANYekan';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/iranyekanweblight.eot');
    src: url('../fonts/iranyekanweblight.eot?#iefix') format("embedded-opentype"),
    url('../fonts/iranyekanweblight.woff') format("woff"),
    url('../fonts/iranyekanweblight.ttf') format("truetype")
}
body{
    font-family: 'IRANYekan' !important;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4 {
    font-family: 'IRANYekan' !important;
    font-weight:  500;
}
html[dir="rtl"] {
  text-align: right;
  direction: rtl;

}

html[dir="rtl"] .nav {
  padding-right: 0;
}

html[dir="rtl"] th {
  text-align: right;
}

html[dir="rtl"] .alert-dismissible {
  padding-right: 1.25rem;
  padding-left: 4rem;
}

html[dir="rtl"] .dropdown-menu {
  right: 0;
  text-align: right;
}

html[dir="rtl"] .checkbox label {
  padding-right: 1.25rem;
  padding-left: inherit;
}

html[dir="rtl"] .btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
  border-radius: 0 0.25rem 0.25rem 0;
}

html[dir="rtl"] .btn-group > .btn:last-child:not(:first-child),
html[dir="rtl"] .btn-group > .dropdown-toggle:not(:first-child) {
  border-radius: 0.25rem 0 0 0.25rem;
}

html[dir="rtl"] .btn-group > .btn-group:last-child:not(:first-child) > .btn:first-child {
  border-radius: 0.25rem 0 0 0.25rem;
}

html[dir="rtl"] .custom-control-label::after,
html[dir="rtl"] .custom-control-label::before {
  right: 0;
  left: inherit;
}

html[dir="rtl"] .custom-select {
  padding: 0.375rem 0.75rem 0.375rem 1.75rem;
  background: #fff url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat left 0.75rem center;
  background-size: 8px 10px;
}

html[dir="rtl"] .input-group > .input-group-append:last-child > .btn:not(:last-child):not(.dropdown-toggle),
html[dir="rtl"] .input-group > .input-group-append:last-child > .input-group-text:not(:last-child),
html[dir="rtl"] .input-group > .input-group-append:not(:last-child) > .btn,
html[dir="rtl"] .input-group > .input-group-append:not(:last-child) > .input-group-text,
html[dir="rtl"] .input-group > .input-group-prepend > .btn,
html[dir="rtl"] .input-group > .input-group-prepend > .input-group-text {
  border-radius: 0 0.25rem 0.25rem 0;
}

html[dir="rtl"] .input-group > .input-group-append > .btn,
html[dir="rtl"] .input-group > .input-group-append > .input-group-text,
html[dir="rtl"] .input-group > .input-group-prepend:first-child > .btn:not(:first-child),
html[dir="rtl"] .input-group > .input-group-prepend:first-child > .input-group-text:not(:first-child),
html[dir="rtl"] .input-group > .input-group-prepend:not(:first-child) > .btn,
html[dir="rtl"] .input-group > .input-group-prepend:not(:first-child) > .input-group-text {
  border-radius: 0.25rem 0 0 0.25rem;
}

html[dir="rtl"] .input-group > .custom-select:not(:first-child),
html[dir="rtl"] .input-group > .form-control:not(:first-child) {
  border-radius: 0.25rem 0 0 0.25rem;
}

html[dir="rtl"] .input-group > .custom-select:not(:last-child),
html[dir="rtl"] .input-group > .form-control:not(:last-child) {
  border-radius: 0 0.25rem 0.25rem 0;
}

html[dir="rtl"] .input-group > .custom-select:not(:last-child):not(:first-child),
html[dir="rtl"] .input-group > .form-control:not(:last-child):not(:first-child) {
  border-radius: 0;
}

html[dir="rtl"] .custom-control {
  padding-right: 1.5rem;
  padding-left: inherit;
  margin-right: inherit;
  margin-left: 1rem;
}

html[dir="rtl"] .custom-control-indicator {
  right: 0;
  left: inherit;
}

html[dir="rtl"] .custom-file-label::after {
  right: initial;
  left: -1px;
  border-radius: .25rem 0 0 .25rem;
}

html[dir="rtl"] .radio input,
html[dir="rtl"] .radio-inline,
html[dir="rtl"] .checkbox input,
html[dir="rtl"] .checkbox-inline input {
  margin-right: -1.25rem;
  margin-left: inherit;
}

html[dir="rtl"] .list-group {
  padding-right: 0;
  padding-left: 40px;
}

html[dir="rtl"] .close {
  float: left;
}

html[dir="rtl"] .modal-header .close {
  margin: -15px auto -15px -15px;
}

html[dir="rtl"] .modal-footer > :not(:first-child) {
  margin-right: .25rem;
}

html[dir="rtl"] .alert-dismissible .close {
  right: inherit;
  left: 0;
}

html[dir="rtl"] .dropdown-toggle::after {
  margin-right: .255em;
  margin-left: 0;
}

html[dir="rtl"] .form-check-input {
  margin-right: -1.25rem;
  margin-left: inherit;
}

html[dir="rtl"] .form-check-label {
  padding-right: 1.25rem;
  padding-left: inherit;
}

html[dir="rtl"] .offset-1 {
  margin-right: 8.33333%;
  margin-left: 0;
}

html[dir="rtl"] .offset-2 {
  margin-right: 16.66667%;
  margin-left: 0;
}

html[dir="rtl"] .offset-3 {
  margin-right: 25%;
  margin-left: 0;
}

html[dir="rtl"] .offset-4 {
  margin-right: 33.33333%;
  margin-left: 0;
}

html[dir="rtl"] .offset-5 {
  margin-right: 41.66667%;
  margin-left: 0;
}

html[dir="rtl"] .offset-6 {
  margin-right: 50%;
  margin-left: 0;
}

html[dir="rtl"] .offset-7 {
  margin-right: 58.33333%;
  margin-left: 0;
}

html[dir="rtl"] .offset-8 {
  margin-right: 66.66667%;
  margin-left: 0;
}

html[dir="rtl"] .offset-9 {
  margin-right: 75%;
  margin-left: 0;
}

html[dir="rtl"] .offset-10 {
  margin-right: 83.33333%;
  margin-left: 0;
}

html[dir="rtl"] .offset-11 {
  margin-right: 91.66667%;
  margin-left: 0;
}

@media (min-width: 576px) {
  html[dir="rtl"] .offset-sm-0 {
    margin-right: 0;
    margin-left: 0;
  }
  html[dir="rtl"] .offset-sm-1 {
    margin-right: 8.33333%;
    margin-left: 0;
  }
  html[dir="rtl"] .offset-sm-2 {
    margin-right: 16.66667%;
    margin-left: 0;
  }
  html[dir="rtl"] .offset-sm-3 {
    margin-right: 25%;
    margin-left: 0;
  }
  html[dir="rtl"] .offset-sm-4 {
    margin-right: 33.33333%;
    margin-left: 0;
  }
  html[dir="rtl"] .offset-sm-5 {
    margin-right: 41.66667%;
    margin-left: 0;
  }
  html[dir="rtl"] .offset-sm-6 {
    margin-right: 50%;
    margin-left: 0;
  }
  html[dir="rtl"] .offset-sm-7 {
    margin-right: 58.33333%;
    margin-left: 0;
  }
  html[dir="rtl"] .offset-sm-8 {
    margin-right: 66.66667%;
    margin-left: 0;
  }
  html[dir="rtl"] .offset-sm-9 {
    margin-right: 75%;
    margin-left: 0;
  }
  html[dir="rtl"] .offset-sm-10 {
    margin-right: 83.33333%;
    margin-left: 0;
  }
  html[dir="rtl"] .offset-sm-11 {
    margin-right: 91.66667%;
    margin-left: 0;
  }
}

@media (min-width: 768px) {
  html[dir="rtl"] .offset-md-0 {
    margin-right: 0;
    margin-left: 0;
  }
  html[dir="rtl"] .offset-md-1 {
    margin-right: 8.33333%;
    margin-left: 0;
  }
  html[dir="rtl"] .offset-md-2 {
    margin-right: 16.66667%;
    margin-left: 0;
  }
  html[dir="rtl"] .offset-md-3 {
    margin-right: 25%;
    margin-left: 0;
  }
  html[dir="rtl"] .offset-md-4 {
    margin-right: 33.33333%;
    margin-left: 0;
  }
  html[dir="rtl"] .offset-md-5 {
    margin-right: 41.66667%;
    margin-left: 0;
  }
  html[dir="rtl"] .offset-md-6 {
    margin-right: 50%;
    margin-left: 0;
  }
  html[dir="rtl"] .offset-md-7 {
    margin-right: 58.33333%;
    margin-left: 0;
  }
  html[dir="rtl"] .offset-md-8 {
    margin-right: 66.66667%;
    margin-left: 0;
  }
  html[dir="rtl"] .offset-md-9 {
    margin-right: 75%;
    margin-left: 0;
  }
  html[dir="rtl"] .offset-md-10 {
    margin-right: 83.33333%;
    margin-left: 0;
  }
  html[dir="rtl"] .offset-md-11 {
    margin-right: 91.66667%;
    margin-left: 0;
  }
}

@media (min-width: 992px) {
  html[dir="rtl"] .offset-lg-0 {
    margin-right: 0;
    margin-left: 0;
  }
  html[dir="rtl"] .offset-lg-1 {
    margin-right: 8.33333%;
    margin-left: 0;
  }
  html[dir="rtl"] .offset-lg-2 {
    margin-right: 16.66667%;
    margin-left: 0;
  }
  html[dir="rtl"] .offset-lg-3 {
    margin-right: 25%;
    margin-left: 0;
  }
  html[dir="rtl"] .offset-lg-4 {
    margin-right: 33.33333%;
    margin-left: 0;
  }
  html[dir="rtl"] .offset-lg-5 {
    margin-right: 41.66667%;
    margin-left: 0;
  }
  html[dir="rtl"] .offset-lg-6 {
    margin-right: 50%;
    margin-left: 0;
  }
  html[dir="rtl"] .offset-lg-7 {
    margin-right: 58.33333%;
    margin-left: 0;
  }
  html[dir="rtl"] .offset-lg-8 {
    margin-right: 66.66667%;
    margin-left: 0;
  }
  html[dir="rtl"] .offset-lg-9 {
    margin-right: 75%;
    margin-left: 0;
  }
  html[dir="rtl"] .offset-lg-10 {
    margin-right: 83.33333%;
    margin-left: 0;
  }
  html[dir="rtl"] .offset-lg-11 {
    margin-right: 91.66667%;
    margin-left: 0;
  }
}

@media (min-width: 1200px) {
  html[dir="rtl"] .offset-xl-0 {
    margin-right: 0;
    margin-left: 0;
  }
  html[dir="rtl"] .offset-xl-1 {
    margin-right: 8.33333%;
    margin-left: 0;
  }
  html[dir="rtl"] .offset-xl-2 {
    margin-right: 16.66667%;
    margin-left: 0;
  }
  html[dir="rtl"] .offset-xl-3 {
    margin-right: 25%;
    margin-left: 0;
  }
  html[dir="rtl"] .offset-xl-4 {
    margin-right: 33.33333%;
    margin-left: 0;
  }
  html[dir="rtl"] .offset-xl-5 {
    margin-right: 41.66667%;
    margin-left: 0;
  }
  html[dir="rtl"] .offset-xl-6 {
    margin-right: 50%;
    margin-left: 0;
  }
  html[dir="rtl"] .offset-xl-7 {
    margin-right: 58.33333%;
    margin-left: 0;
  }
  html[dir="rtl"] .offset-xl-8 {
    margin-right: 66.66667%;
    margin-left: 0;
  }
  html[dir="rtl"] .offset-xl-9 {
    margin-right: 75%;
    margin-left: 0;
  }
  html[dir="rtl"] .offset-xl-10 {
    margin-right: 83.33333%;
    margin-left: 0;
  }
  html[dir="rtl"] .offset-xl-11 {
    margin-right: 91.66667%;
    margin-left: 0;
  }
}

html[dir="rtl"] .mr-0,
html[dir="rtl"] .mx-0 {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

html[dir="rtl"] .ml-0,
html[dir="rtl"] .mx-0 {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

html[dir="rtl"] .mr-1,
html[dir="rtl"] .mx-1 {
  margin-right: 0 !important;
  margin-left: 0.25rem !important;
}

html[dir="rtl"] .ml-1,
html[dir="rtl"] .mx-1 {
  margin-left: 0 !important;
  margin-right: 0.25rem !important;
}

html[dir="rtl"] .mr-2,
html[dir="rtl"] .mx-2 {
  margin-right: 0 !important;
  margin-left: 0.5rem !important;
}

html[dir="rtl"] .ml-2,
html[dir="rtl"] .mx-2 {
  margin-left: 0 !important;
  margin-right: 0.5rem !important;
}

html[dir="rtl"] .mr-3,
html[dir="rtl"] .mx-3 {
  margin-right: 0 !important;
  margin-left: 1rem !important;
}

html[dir="rtl"] .ml-3,
html[dir="rtl"] .mx-3 {
  margin-left: 0 !important;
  margin-right: 1rem !important;
}

html[dir="rtl"] .mr-4,
html[dir="rtl"] .mx-4 {
  margin-right: 0 !important;
  margin-left: 1.5rem !important;
}

html[dir="rtl"] .ml-4,
html[dir="rtl"] .mx-4 {
  margin-left: 0 !important;
  margin-right: 1.5rem !important;
}

html[dir="rtl"] .mr-5,
html[dir="rtl"] .mx-5 {
  margin-right: 0 !important;
  margin-left: 3rem !important;
}

html[dir="rtl"] .ml-5,
html[dir="rtl"] .mx-5 {
  margin-left: 0 !important;
  margin-right: 3rem !important;
}

html[dir="rtl"] .pr-0,
html[dir="rtl"] .px-0 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

html[dir="rtl"] .pl-0,
html[dir="rtl"] .px-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

html[dir="rtl"] .pr-1,
html[dir="rtl"] .px-1 {
  padding-right: 0 !important;
  padding-left: 0.25rem !important;
}

html[dir="rtl"] .pl-1,
html[dir="rtl"] .px-1 {
  padding-left: 0 !important;
  padding-right: 0.25rem !important;
}

html[dir="rtl"] .pr-2,
html[dir="rtl"] .px-2 {
  padding-right: 0 !important;
  padding-left: 0.5rem !important;
}

html[dir="rtl"] .pl-2,
html[dir="rtl"] .px-2 {
  padding-left: 0 !important;
  padding-right: 0.5rem !important;
}

html[dir="rtl"] .pr-3,
html[dir="rtl"] .px-3 {
  padding-right: 0 !important;
  padding-left: 1rem !important;
}

html[dir="rtl"] .pl-3,
html[dir="rtl"] .px-3 {
  padding-left: 0 !important;
  padding-right: 1rem !important;
}

html[dir="rtl"] .pr-4,
html[dir="rtl"] .px-4 {
  padding-right: 0 !important;
  padding-left: 1.5rem !important;
}

html[dir="rtl"] .pl-4,
html[dir="rtl"] .px-4 {
  padding-left: 0 !important;
  padding-right: 1.5rem !important;
}

html[dir="rtl"] .pr-5,
html[dir="rtl"] .px-5 {
  padding-right: 0 !important;
  padding-left: 3rem !important;
}

html[dir="rtl"] .pl-5,
html[dir="rtl"] .px-5 {
  padding-left: 0 !important;
  padding-right: 3rem !important;
}

html[dir="rtl"] .mr-auto,
html[dir="rtl"] .mx-auto {
  margin-right: 0;
  margin-left: auto;
}

html[dir="rtl"] .ml-auto,
html[dir="rtl"] .mx-auto {
  margin-right: auto;
  margin-left: 0;
}

@media (min-width: 576px) {
  html[dir="rtl"] .mr-sm-0,
  html[dir="rtl"] .mx-sm-0 {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
  html[dir="rtl"] .ml-sm-0,
  html[dir="rtl"] .mx-sm-0 {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  html[dir="rtl"] .mr-sm-1,
  html[dir="rtl"] .mx-sm-1 {
    margin-right: 0 !important;
    margin-left: 0.25rem !important;
  }
  html[dir="rtl"] .ml-sm-1,
  html[dir="rtl"] .mx-sm-1 {
    margin-left: 0 !important;
    margin-right: 0.25rem !important;
  }
  html[dir="rtl"] .mr-sm-2,
  html[dir="rtl"] .mx-sm-2 {
    margin-right: 0 !important;
    margin-left: 0.5rem !important;
  }
  html[dir="rtl"] .ml-sm-2,
  html[dir="rtl"] .mx-sm-2 {
    margin-left: 0 !important;
    margin-right: 0.5rem !important;
  }
  html[dir="rtl"] .mr-sm-3,
  html[dir="rtl"] .mx-sm-3 {
    margin-right: 0 !important;
    margin-left: 1rem !important;
  }
  html[dir="rtl"] .ml-sm-3,
  html[dir="rtl"] .mx-sm-3 {
    margin-left: 0 !important;
    margin-right: 1rem !important;
  }
  html[dir="rtl"] .mr-sm-4,
  html[dir="rtl"] .mx-sm-4 {
    margin-right: 0 !important;
    margin-left: 1.5rem !important;
  }
  html[dir="rtl"] .ml-sm-4,
  html[dir="rtl"] .mx-sm-4 {
    margin-left: 0 !important;
    margin-right: 1.5rem !important;
  }
  html[dir="rtl"] .mr-sm-5,
  html[dir="rtl"] .mx-sm-5 {
    margin-right: 0 !important;
    margin-left: 3rem !important;
  }
  html[dir="rtl"] .ml-sm-5,
  html[dir="rtl"] .mx-sm-5 {
    margin-left: 0 !important;
    margin-right: 3rem !important;
  }
  html[dir="rtl"] .pr-sm-0,
  html[dir="rtl"] .px-sm-0 {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
  html[dir="rtl"] .pl-sm-0,
  html[dir="rtl"] .px-sm-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  html[dir="rtl"] .pr-sm-1,
  html[dir="rtl"] .px-sm-1 {
    padding-right: 0 !important;
    padding-left: 0.25rem !important;
  }
  html[dir="rtl"] .pl-sm-1,
  html[dir="rtl"] .px-sm-1 {
    padding-left: 0 !important;
    padding-right: 0.25rem !important;
  }
  html[dir="rtl"] .pr-sm-2,
  html[dir="rtl"] .px-sm-2 {
    padding-right: 0 !important;
    padding-left: 0.5rem !important;
  }
  html[dir="rtl"] .pl-sm-2,
  html[dir="rtl"] .px-sm-2 {
    padding-left: 0 !important;
    padding-right: 0.5rem !important;
  }
  html[dir="rtl"] .pr-sm-3,
  html[dir="rtl"] .px-sm-3 {
    padding-right: 0 !important;
    padding-left: 1rem !important;
  }
  html[dir="rtl"] .pl-sm-3,
  html[dir="rtl"] .px-sm-3 {
    padding-left: 0 !important;
    padding-right: 1rem !important;
  }
  html[dir="rtl"] .pr-sm-4,
  html[dir="rtl"] .px-sm-4 {
    padding-right: 0 !important;
    padding-left: 1.5rem !important;
  }
  html[dir="rtl"] .pl-sm-4,
  html[dir="rtl"] .px-sm-4 {
    padding-left: 0 !important;
    padding-right: 1.5rem !important;
  }
  html[dir="rtl"] .pr-sm-5,
  html[dir="rtl"] .px-sm-5 {
    padding-right: 0 !important;
    padding-left: 3rem !important;
  }
  html[dir="rtl"] .pl-sm-5,
  html[dir="rtl"] .px-sm-5 {
    padding-left: 0 !important;
    padding-right: 3rem !important;
  }
  html[dir="rtl"] .mr-sm-auto,
  html[dir="rtl"] .mx-sm-auto {
    margin-right: 0;
    margin-left: auto;
  }
  html[dir="rtl"] .ml-sm-auto,
  html[dir="rtl"] .mx-sm-auto {
    margin-right: auto;
    margin-left: 0;
  }
}

@media (min-width: 768px) {
  html[dir="rtl"] .mr-md-0,
  html[dir="rtl"] .mx-md-0 {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
  html[dir="rtl"] .ml-md-0,
  html[dir="rtl"] .mx-md-0 {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  html[dir="rtl"] .mr-md-1,
  html[dir="rtl"] .mx-md-1 {
    margin-right: 0 !important;
    margin-left: 0.25rem !important;
  }
  html[dir="rtl"] .ml-md-1,
  html[dir="rtl"] .mx-md-1 {
    margin-left: 0 !important;
    margin-right: 0.25rem !important;
  }
  html[dir="rtl"] .mr-md-2,
  html[dir="rtl"] .mx-md-2 {
    margin-right: 0 !important;
    margin-left: 0.5rem !important;
  }
  html[dir="rtl"] .ml-md-2,
  html[dir="rtl"] .mx-md-2 {
    margin-left: 0 !important;
    margin-right: 0.5rem !important;
  }
  html[dir="rtl"] .mr-md-3,
  html[dir="rtl"] .mx-md-3 {
    margin-right: 0 !important;
    margin-left: 1rem !important;
  }
  html[dir="rtl"] .ml-md-3,
  html[dir="rtl"] .mx-md-3 {
    margin-left: 0 !important;
    margin-right: 1rem !important;
  }
  html[dir="rtl"] .mr-md-4,
  html[dir="rtl"] .mx-md-4 {
    margin-right: 0 !important;
    margin-left: 1.5rem !important;
  }
  html[dir="rtl"] .ml-md-4,
  html[dir="rtl"] .mx-md-4 {
    margin-left: 0 !important;
    margin-right: 1.5rem !important;
  }
  html[dir="rtl"] .mr-md-5,
  html[dir="rtl"] .mx-md-5 {
    margin-right: 0 !important;
    margin-left: 3rem !important;
  }
  html[dir="rtl"] .ml-md-5,
  html[dir="rtl"] .mx-md-5 {
    margin-left: 0 !important;
    margin-right: 3rem !important;
  }
  html[dir="rtl"] .pr-md-0,
  html[dir="rtl"] .px-md-0 {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
  html[dir="rtl"] .pl-md-0,
  html[dir="rtl"] .px-md-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  html[dir="rtl"] .pr-md-1,
  html[dir="rtl"] .px-md-1 {
    padding-right: 0 !important;
    padding-left: 0.25rem !important;
  }
  html[dir="rtl"] .pl-md-1,
  html[dir="rtl"] .px-md-1 {
    padding-left: 0 !important;
    padding-right: 0.25rem !important;
  }
  html[dir="rtl"] .pr-md-2,
  html[dir="rtl"] .px-md-2 {
    padding-right: 0 !important;
    padding-left: 0.5rem !important;
  }
  html[dir="rtl"] .pl-md-2,
  html[dir="rtl"] .px-md-2 {
    padding-left: 0 !important;
    padding-right: 0.5rem !important;
  }
  html[dir="rtl"] .pr-md-3,
  html[dir="rtl"] .px-md-3 {
    padding-right: 0 !important;
    padding-left: 1rem !important;
  }
  html[dir="rtl"] .pl-md-3,
  html[dir="rtl"] .px-md-3 {
    padding-left: 0 !important;
    padding-right: 1rem !important;
  }
  html[dir="rtl"] .pr-md-4,
  html[dir="rtl"] .px-md-4 {
    padding-right: 0 !important;
    padding-left: 1.5rem !important;
  }
  html[dir="rtl"] .pl-md-4,
  html[dir="rtl"] .px-md-4 {
    padding-left: 0 !important;
    padding-right: 1.5rem !important;
  }
  html[dir="rtl"] .pr-md-5,
  html[dir="rtl"] .px-md-5 {
    padding-right: 0 !important;
    padding-left: 3rem !important;
  }
  html[dir="rtl"] .pl-md-5,
  html[dir="rtl"] .px-md-5 {
    padding-left: 0 !important;
    padding-right: 3rem !important;
  }
  html[dir="rtl"] .mr-md-auto,
  html[dir="rtl"] .mx-md-auto {
    margin-right: 0;
    margin-left: auto;
  }
  html[dir="rtl"] .ml-md-auto,
  html[dir="rtl"] .mx-md-auto {
    margin-right: auto;
    margin-left: 0;
  }
}

@media (min-width: 992px) {
  html[dir="rtl"] .mr-lg-0,
  html[dir="rtl"] .mx-lg-0 {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
  html[dir="rtl"] .ml-lg-0,
  html[dir="rtl"] .mx-lg-0 {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  html[dir="rtl"] .mr-lg-1,
  html[dir="rtl"] .mx-lg-1 {
    margin-right: 0 !important;
    margin-left: 0.25rem !important;
  }
  html[dir="rtl"] .ml-lg-1,
  html[dir="rtl"] .mx-lg-1 {
    margin-left: 0 !important;
    margin-right: 0.25rem !important;
  }
  html[dir="rtl"] .mr-lg-2,
  html[dir="rtl"] .mx-lg-2 {
    margin-right: 0 !important;
    margin-left: 0.5rem !important;
  }
  html[dir="rtl"] .ml-lg-2,
  html[dir="rtl"] .mx-lg-2 {
    margin-left: 0 !important;
    margin-right: 0.5rem !important;
  }
  html[dir="rtl"] .mr-lg-3,
  html[dir="rtl"] .mx-lg-3 {
    margin-right: 0 !important;
    margin-left: 1rem !important;
  }
  html[dir="rtl"] .ml-lg-3,
  html[dir="rtl"] .mx-lg-3 {
    margin-left: 0 !important;
    margin-right: 1rem !important;
  }
  html[dir="rtl"] .mr-lg-4,
  html[dir="rtl"] .mx-lg-4 {
    margin-right: 0 !important;
    margin-left: 1.5rem !important;
  }
  html[dir="rtl"] .ml-lg-4,
  html[dir="rtl"] .mx-lg-4 {
    margin-left: 0 !important;
    margin-right: 1.5rem !important;
  }
  html[dir="rtl"] .mr-lg-5,
  html[dir="rtl"] .mx-lg-5 {
    margin-right: 0 !important;
    margin-left: 3rem !important;
  }
  html[dir="rtl"] .ml-lg-5,
  html[dir="rtl"] .mx-lg-5 {
    margin-left: 0 !important;
    margin-right: 3rem !important;
  }
  html[dir="rtl"] .pr-lg-0,
  html[dir="rtl"] .px-lg-0 {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
  html[dir="rtl"] .pl-lg-0,
  html[dir="rtl"] .px-lg-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  html[dir="rtl"] .pr-lg-1,
  html[dir="rtl"] .px-lg-1 {
    padding-right: 0 !important;
    padding-left: 0.25rem !important;
  }
  html[dir="rtl"] .pl-lg-1,
  html[dir="rtl"] .px-lg-1 {
    padding-left: 0 !important;
    padding-right: 0.25rem !important;
  }
  html[dir="rtl"] .pr-lg-2,
  html[dir="rtl"] .px-lg-2 {
    padding-right: 0 !important;
    padding-left: 0.5rem !important;
  }
  html[dir="rtl"] .pl-lg-2,
  html[dir="rtl"] .px-lg-2 {
    padding-left: 0 !important;
    padding-right: 0.5rem !important;
  }
  html[dir="rtl"] .pr-lg-3,
  html[dir="rtl"] .px-lg-3 {
    padding-right: 0 !important;
    padding-left: 1rem !important;
  }
  html[dir="rtl"] .pl-lg-3,
  html[dir="rtl"] .px-lg-3 {
    padding-left: 0 !important;
    padding-right: 1rem !important;
  }
  html[dir="rtl"] .pr-lg-4,
  html[dir="rtl"] .px-lg-4 {
    padding-right: 0 !important;
    padding-left: 1.5rem !important;
  }
  html[dir="rtl"] .pl-lg-4,
  html[dir="rtl"] .px-lg-4 {
    padding-left: 0 !important;
    padding-right: 1.5rem !important;
  }
  html[dir="rtl"] .pr-lg-5,
  html[dir="rtl"] .px-lg-5 {
    padding-right: 0 !important;
    padding-left: 3rem !important;
  }
  html[dir="rtl"] .pl-lg-5,
  html[dir="rtl"] .px-lg-5 {
    padding-left: 0 !important;
    padding-right: 3rem !important;
  }
  html[dir="rtl"] .mr-lg-auto,
  html[dir="rtl"] .mx-lg-auto {
    margin-right: 0;
    margin-left: auto;
  }
  html[dir="rtl"] .ml-lg-auto,
  html[dir="rtl"] .mx-lg-auto {
    margin-right: auto;
    margin-left: 0;
  }
}

@media (min-width: 1200px) {
  html[dir="rtl"] .mr-xl-0,
  html[dir="rtl"] .mx-xl-0 {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
  html[dir="rtl"] .ml-xl-0,
  html[dir="rtl"] .mx-xl-0 {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  html[dir="rtl"] .mr-xl-1,
  html[dir="rtl"] .mx-xl-1 {
    margin-right: 0 !important;
    margin-left: 0.25rem !important;
  }
  html[dir="rtl"] .ml-xl-1,
  html[dir="rtl"] .mx-xl-1 {
    margin-left: 0 !important;
    margin-right: 0.25rem !important;
  }
  html[dir="rtl"] .mr-xl-2,
  html[dir="rtl"] .mx-xl-2 {
    margin-right: 0 !important;
    margin-left: 0.5rem !important;
  }
  html[dir="rtl"] .ml-xl-2,
  html[dir="rtl"] .mx-xl-2 {
    margin-left: 0 !important;
    margin-right: 0.5rem !important;
  }
  html[dir="rtl"] .mr-xl-3,
  html[dir="rtl"] .mx-xl-3 {
    margin-right: 0 !important;
    margin-left: 1rem !important;
  }
  html[dir="rtl"] .ml-xl-3,
  html[dir="rtl"] .mx-xl-3 {
    margin-left: 0 !important;
    margin-right: 1rem !important;
  }
  html[dir="rtl"] .mr-xl-4,
  html[dir="rtl"] .mx-xl-4 {
    margin-right: 0 !important;
    margin-left: 1.5rem !important;
  }
  html[dir="rtl"] .ml-xl-4,
  html[dir="rtl"] .mx-xl-4 {
    margin-left: 0 !important;
    margin-right: 1.5rem !important;
  }
  html[dir="rtl"] .mr-xl-5,
  html[dir="rtl"] .mx-xl-5 {
    margin-right: 0 !important;
    margin-left: 3rem !important;
  }
  html[dir="rtl"] .ml-xl-5,
  html[dir="rtl"] .mx-xl-5 {
    margin-left: 0 !important;
    margin-right: 3rem !important;
  }
  html[dir="rtl"] .pr-xl-0,
  html[dir="rtl"] .px-xl-0 {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
  html[dir="rtl"] .pl-xl-0,
  html[dir="rtl"] .px-xl-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  html[dir="rtl"] .pr-xl-1,
  html[dir="rtl"] .px-xl-1 {
    padding-right: 0 !important;
    padding-left: 0.25rem !important;
  }
  html[dir="rtl"] .pl-xl-1,
  html[dir="rtl"] .px-xl-1 {
    padding-left: 0 !important;
    padding-right: 0.25rem !important;
  }
  html[dir="rtl"] .pr-xl-2,
  html[dir="rtl"] .px-xl-2 {
    padding-right: 0 !important;
    padding-left: 0.5rem !important;
  }
  html[dir="rtl"] .pl-xl-2,
  html[dir="rtl"] .px-xl-2 {
    padding-left: 0 !important;
    padding-right: 0.5rem !important;
  }
  html[dir="rtl"] .pr-xl-3,
  html[dir="rtl"] .px-xl-3 {
    padding-right: 0 !important;
    padding-left: 1rem !important;
  }
  html[dir="rtl"] .pl-xl-3,
  html[dir="rtl"] .px-xl-3 {
    padding-left: 0 !important;
    padding-right: 1rem !important;
  }
  html[dir="rtl"] .pr-xl-4,
  html[dir="rtl"] .px-xl-4 {
    padding-right: 0 !important;
    padding-left: 1.5rem !important;
  }
  html[dir="rtl"] .pl-xl-4,
  html[dir="rtl"] .px-xl-4 {
    padding-left: 0 !important;
    padding-right: 1.5rem !important;
  }
  html[dir="rtl"] .pr-xl-5,
  html[dir="rtl"] .px-xl-5 {
    padding-right: 0 !important;
    padding-left: 3rem !important;
  }
  html[dir="rtl"] .pl-xl-5,
  html[dir="rtl"] .px-xl-5 {
    padding-left: 0 !important;
    padding-right: 3rem !important;
  }
  html[dir="rtl"] .mr-xl-auto,
  html[dir="rtl"] .mx-xl-auto {
    margin-right: 0;
    margin-left: auto;
  }
  html[dir="rtl"] .ml-xl-auto,
  html[dir="rtl"] .mx-xl-auto {
    margin-right: auto;
    margin-left: 0;
  }
}

html[dir="rtl"] body {
  text-align: right;
}

html[dir="rtl"] .sidebar {
  left: unset;
  right: 0;
}

html[dir="rtl"] .sidebar .nav i {
  float: right;
  margin-left: 15px;
  margin-right: unset;
}

html[dir="rtl"] .main-panel {
  float: left;
}

html[dir="rtl"] .card .card-header.card-header-tabs .nav-tabs-title {
  float: right;
  padding: 10px 0 10px 10px;
}

html[dir="rtl"] .card.card-chart {
  direction: ltr;
}

html[dir="rtl"] .nav-tabs .nav-item .material-icons {
  margin: -1px 0 0 5px;
}

html[dir="rtl"] .form-check {
  direction: ltr;
}

html[dir="rtl"] .navbar .navbar-nav .dropdown-menu-right {
  transform-origin: 0 0;
}

html[dir="rtl"] .bmd-form-group [class^='bmd-label'].bmd-label-floating,
html[dir="rtl"] .bmd-form-group [class*=' bmd-label'].bmd-label-floating {
  will-change: right, top, contents;
}

html[dir="rtl"] .is-focused .bmd-label-floating,
html[dir="rtl"] .is-filled .bmd-label-floating {
  right: 0;
  left: unset;
}

html[dir="rtl"] .alert.alert-with-icon {
  padding-right: 66px;
  padding-left: 15px;
}

html[dir="rtl"] .alert.alert-with-icon i[data-notify="icon"] {
  right: 15px;
  left: unset;
}

html[dir="rtl"] .alert button.close {
  left: 10px !important;
  right: unset !important;
}

@media (min-width: 992px) {
  html[dir="rtl"] .navbar-expand-lg .navbar-nav .dropdown-menu-right {
    left: 0;
    right: auto;
  }
}

html[dir="rtl"] .sidebar .sidebar-wrapper .navbar-form .input-group {
  padding-right: 17px;
  padding-left: unset;
}

html[dir="rtl"] .sidebar,
html[dir="rtl"] .off-canvas-sidebar nav .navbar-collapse {
  text-align: right;
}

html[dir="rtl"] .card .card-body, html[dir="rtl"] .card .card-footer {
  direction: rtl;
}

@media (max-width: 991px) {
  html[dir="rtl"] .navbar-form .btn {
    left: -50px;
    right: unset;
  }
}

@media (min-width: 992px) {
  html[dir="rtl"] .navbar-expand-lg > .container,
  html[dir="rtl"] .navbar-expand-lg > .container-fluid {
    flex-wrap: nowrap;
  }
}

@media (max-width: 991px) {
  html[dir="rtl"] [class*="navbar-expand-"] > .container,
  html[dir="rtl"] [class*="navbar-expand-"] > .container-fluid {
    flex-direction: row-reverse;
  }
}
/*# sourceMappingURL=material-dashboard-rtl.css.map */
/*
My Style:
BlogPost
 */
.header-bg {
    background: url(../img/BgShape.svg) no-repeat;
    position: absolute;
    left: 0;
    top: -80px;
    width: 1050px;
    height: 871px;
}
section{
    padding-bottom: 100px;
}
.blog-posts {
    direction: rtl;
}
.blog-posts .blog-posts-bg {
    background: url(https://hamyar.co/wp-content/themes/Hamyar/assets/public/img/blog-bg.svg) no-repeat;
    position: absolute;
    left: -500px;
    top: -80px;
    width: 1050px;
    height: 871px;
}
.blog-posts .row > div.first-post a {
    margin-right: 30px;
    width: auto;
}
.blog-posts .row > div.first-post a {
    margin-right: 30px;
}
.blog-posts .row > div a {
    position: relative;
    display: inline-block;
}
.blog-posts .row > div a:hover::after {
    background-color: rgba(52,154,217,0.8);
    transition: all .5s ease;
}
.blog-posts .row > div a::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 15px;
    transition: all .5s ease;
}
.blog-posts .row > div.first-post a .blog-posts-inner {
    background-color: rgba(255,255,255,0.95);
    box-shadow: 0 0 25px rgba(0,0,0,0.2);
    right: -30px;
    bottom: 35px;
    padding: 30px;
    width: 62%;
}
.blog-posts .row > div a .blog-posts-inner {
    position: absolute;
    z-index: 2;
    right: 25px;
    bottom: 40px;
    width: calc(100% - 50px);
}
.blog-posts .row > div.first-post a .blog-posts-inner .category {
    background-color: transparent;
    color: #333;
    padding: 0;
}
.blog-posts .row > div.first-post a .blog-posts-inner .category ul {
    list-style-type: none;
}
.blog-posts .row > div.first-post a .blog-posts-inner .category ul::after {
    clear: both;
}
.blog-posts .row > div.first-post a .blog-posts-inner .category ul::before, .blog-posts .row > div.first-post a .blog-posts-inner .category ul::after {
    content: " ";
    display: table;
}
.blog-posts .row > div.first-post a .blog-posts-inner .category ul li {
    float: right;
    margin-left: 15px;
}
.blog-posts .row > div.first-post a .blog-posts-inner .category ul li::before {
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #339AD9;
    float: right;
    margin-left: 8px;
    margin-top: 12px;
}
.blog-posts .row > div.first-post a .blog-posts-inner h2 {
    font-size: 22px;
    line-height: 38px;
    font-weight: normal;
    color: #222;
}
.blog-posts .row > div.another-posts a:first-of-type {
    margin-bottom: 30px;
}
.blog-posts .row > div.another-posts a {
    position: relative;
    display: inline-block;
    width: 100%;
}

.blog-posts .row > div.another-posts a:hover::after {

    background-color: rgba(52,154,217,0.8);
    transition: all .5s ease;

}
.blog-posts .row > div.another-posts a::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 15px;
    transition: all .5s ease;
}
.blog-posts .row > div a img {
    max-width: 100%;
    width: 100%;
    height: auto;
}
.blog-posts .row > div.another-posts a img {
    max-width: 100%;
    width: 100%;
}
.blog-posts figure img {
    border-radius: 15px;
}
.blog-posts .row > div.another-posts a .blog-posts-inner {
    position: absolute;
    z-index: 2;
    right: 25px;
    bottom: 40px;
    width: calc(100% - 50px);
}
.blog-posts .row > div.another-posts a .blog-posts-inner .category {
    display: inline-block;
    border-radius: 5px;
}
.blog-posts .row > div.another-posts a .blog-posts-inner .category ul {
    list-style-type: none;
}
.blog-posts .row > div.another-posts a .blog-posts-inner .category ul li {
    float: right;
    margin-bottom: 5px;
    margin-left: 5px;
    background: rgba(51,154,217,0.7);
    border-radius: 5px;
    display: inline-block;
    padding: 2px 9px;
    color: #FFF;
    font-weight: normal;
    font-size: 13px;
    transition: all .5s ease;
}
.blog-posts .row > div.another-posts a .blog-posts-inner .category ul li {
    float: right;
    margin-left: 15px;
    margin-bottom: 0 !important;
    padding: 1px 10px;
    color: #FFF;
}
.blog-posts .row > div.another-posts a .blog-posts-inner h2 {
    font-size: 17px;
    color: #FFF;
    font-weight: normal;
    line-height: 27px;
}
/* End BlogPost */
/* Course */
.course .course-inner {
    border-radius: 15px;
    box-shadow: 0 0 16px 1px rgba(0,0,0,0.05);
    transition: all .5s ease;
    max-height: 430px;
    height: 430px;
    overflow: hidden;
}
.course .course-inner .header {
    height: 220px;
    border-radius: 15px 15px 0 0;
    transition: all .5s ease;
    overflow: hidden;
}
.course .course-detail {
    padding: 20px 20px 15px;
    background-color: #fff;
    border-radius: 0 0 15px 15px;
}
.course .course-detail .course-top-content {
    height: 180px;
    overflow: hidden;
    position: relative;
    transition: all .5s ease;
}
.course .course-detail .course-top-content .title {
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 7px;
}
.course .course-detail .course-top-content h2 {
    font-size: 22px;
    line-height: 30px;
    font-weight: bold;
    padding: 10px 0 5px;
}

::before, ::after {

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}
element {

}
.course .course-detail .course-top-content .course-description {

    position: relative;
    padding-top: 10px;
    overflow: hidden;
    margin-bottom: 10px;
    font-size: 14px;
    transition: all .5s ease;
    line-height: 26px;

}
.course .course-inner:hover {
    transition: all .5s ease;
    box-shadow: 0 0 30px rgba(0,0,0,0.2);
}
.catone {
    background: rgb(239, 87, 105) url("http://tarheiran.ir/melearn/wp-content/themes/mefiweb/css/img/cat-bak.png");
    background-color: rgb(239, 87, 105);
    float: right;
    width: 100%;
    padding: 40px 0px;
    border-radius: 10px;
    color: #fff;
    font-size: 18px;
    text-align: center;
}
.catone h3 {
    margin: 0px !important;
    font-size: 18px;
    font-weight: 100;
}
.catone:hover {
    background: rgb(161, 161, 161) url("http://tarheiran.ir/melearn/wp-content/themes/mefiweb/css/img/cat-bak.png") !important;
}
#home-top-content-footer {
    margin-top: 50px;
    margin-bottom: 70px;
    padding: 0;
}
#home-top-content-footer h3 {
    font-size: 24px;
    font-weight: bold;
    line-height: 50px;
}
#home-top-content-footer .row {
    margin: 0;
    direction: rtl;
}
#home-top-content-footer #line-logo-img-text .line-logo-img {
    padding-right: 10px;
    padding-left: 30px;
    padding-top: 30px;
}
#home-top-content-footer #line-logo-img-text .text {
    width: calc(100% - 160px);
}
#home-top-content-footer #enemad {
    margin-top: 10px;
    text-align: center;
}
#home-top-content-footer > .row > div {
    padding: 0px;
    margin: 0;
    margin-top: 0px;
}
#home-top-content-footer #enemad img {
    max-width: 49%;
    min-width: 95px;
}

/* footer */
#footer {
    background: url(https://hamyar.co/wp-content/themes/Hamyar/assets/public/img/footer-bg.svg) repeat-x left top;
    height: auto;
    direction: rtl;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
}
#footer .main-footer {
    position: relative;
}
#footer .main-footer .main-footer-bg {
    background: url(../img/footer-inner-bg.svg) no-repeat;
    width: 1335px;
    height: 322px;
    position: absolute;
    left: 0;
    z-index: 0;
}
#footer .main-footer .main-footer-inner {
    position: relative;
    z-index: 99;
}
#footer .main-footer .footer-logo {
    padding-right: 210px;
    padding-top: 40px;
    margin-bottom: 30px;
}
#footer .main-footer .footer-logo a {
    display: inline-flex;
}

#footer .main-footer .footer-logo a .logo-image {

    background: url(https://hamyar.co/wp-content/themes/Hamyar/assets/public/img/footer-logo.png) no-repeat;
    width: 61px;
    height: 51px;
    float: right;
    margin-left: 10px;
}
#footer .main-footer .footer-logo a .logo-details h2 {
    font-size: 26px;
    font-weight: normal;
    color: #FFF;
    margin-bottom: 5px;
}
#footer .main-footer .footer-logo a .logo-details .logo-description {
    font-size: 15px;
    font-weight: normal;
    color: #FFF;
}
#footer .main-footer .social {
    padding-left: 175px;
}
#footer .main-footer .social ul {
    list-style-type: none;
    display: table;
    margin: 0 auto;
    margin-bottom: 0px;
    margin-bottom: 30px;
}
#footer .main-footer .social ul li {
    float: right;
    margin-left: 20px;
}
#footer .main-footer .footer-links ul {
    list-style-type: none;
}
#footer .main-footer .footer-links ul li {
    float: right;
    margin-left: 15px;
}
#footer .main-footer .footer-links ul li a {
    color: #FFF;
    font-size: 14px;
}
#footer .main-footer hr {
    border-color: rgba(255,255,255,0.3);
    width: 70%;
    float: right;
    margin-top: 10px;
    margin-bottom: 10px;
}

#footer .main-footer hr::before, #footer .main-footer hr::after {

    content: " ";
    display: table;

}
#footer .main-footer hr::after {
    clear: both;
}
#footer .main-footer hr::before, #footer .main-footer hr::after {
    content: " ";
    display: table;
}
#footer .main-footer .address {
    clear: both;
}
#footer .main-footer .address p {
    color: #FFF;
    font-size: 14px;
    margin-bottom: 0;
}
